
input {
    width: 100%;
    box-sizing: border-box;
}


.poster-and-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    margin-block: 12px;
    cursor: pointer;
}

.poster-and-title img {
    width: 64px;
}