* {
    border-radius: 10px;
}

.error {
    background-color: rgba(255, 0, 0, 0.3);
    outline: 2px solid rgba(255, 0, 0, 0.7);
}

.side-bar {
    position: relative;
    height: 100%;
    overflow: auto;
    background-color: #efefef;
    padding: 10px;
    box-sizing: border-box;
}

.side-bar * {
    z-index: 1;
}

.side-bar .search-container {
    position: sticky;
    top: 0;
    margin-bottom: 10px;
}

.center {
    justify-content: center;
    text-align: center;
}

.mid {
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.fill-height {
    height: -webkit-fill-available;
}

.fill-width {
    width: -webkit-fill-available;
}

.scroll {
    overflow: auto;
}

input {
    padding-block: 8px;
    padding-inline: 5px;
    font-size: 16px;
    outline: #ccc;
    border: 1px solid #ccc;
}

.main-grid {
    display: grid;
    grid-template-columns: min(400px, 25%) 1fr;
    gap: 10px;

    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    box-sizing: border-box;
}

#App {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#root {
}

/* width */
::-webkit-scrollbar {
    width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(125, 125, 125, 0.75);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.75);
}
